.container-fluid {
    position: relative;
}

.loading::before {
    content: "";
    position: absolute;
    background-image: url("../images/loader.gif");
    width: 64px;
    height: 64px;
    z-index: 1;
    background-repeat: no-repeat;
    margin: 0 auto;
    right: 50%;
    top: 35vh;
}
.sidebar-link.active,
.sidebar-link.active > span,
.sidebar-link.active > span i,
.sidebar-link.active > span i.fas {
    color: #7574ea !important;
}
.sidebar-nav #sidebarnav .sidebar-item .sidebar-link {
    font-size: 14px;
}

.sample-table th,
.sample-table td {
    padding: 0;
    font-size: 12px;
}

#file-input {
    display: none;
}
.attachments-input-label {
    cursor: pointer;
}

#resumeViewer,
#fileViewer {
    text-align: center;
    background-color: #ebebeb;
}
.page-wrapper > .container-fluid {
    padding: 15px;
}
.scroll-sidebar {
    overflow-y: scroll !important;
}
.loading-dots {
    font-size: 10px;
}
.toggle-success {
    animation: toggleSuccess 500ms infinite ease-in-out;
}
@keyframes toggleSuccess {
    from {
        color: #b8c3d5;
    }
    to {
        color: #4caf50;
    }
}
.toggle-error {
    animation: toggleError 500ms infinite ease-in-out;
}
@keyframes toggleError {
    from {
        color: #b8c3d5;
    }
    to {
        color: #e53935;
    }
}
.toggle-loading {
    animation: toggleLoading 500ms infinite ease-in-out;
}
@keyframes toggleLoading {
    from {
        color: #b8c3d5;
    }
    to {
        color: #ff9800;
    }
}
.pause-error {
    color: #e53935;
}
